*{
    margin: 0;
    padding: 0%;
    font-family: 'roboto Condensed';
}


/*---------ESTILOS GENERALES-----------*/



body{
    height: 100vh;
    overflow-x: hidden;
    
}
.gridAreas{
    display: grid;
    grid-template-areas:
    "header header header header"
    "menu menu menu menu"
    "productos productos productos publicidad"
    "footer footer footer footer"
    ;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 2fr 1fr;


}

.logo{
    padding: 2%;
}

header{
    grid-area: header;
    background-color: #bde0fe;
    padding: 1px;
}

/*-------BARRA BUSQUEDA-------*/
.barraBusqueda {
    background-color: #bde0fe;
    width: 95%;
    height: 40px;
    display: flex;
    justify-content: end;


}

.barra {
    background-color: white;
    width: 180px;
    height: 30px;
    border-style: solid;
    border-radius: 7px;
    margin: 1px;
    padding: 1px;
}

.botonBuscar {
    background-color: rgb(230, 230, 230);
    width: 60px;
    height: 30px;
    border-color: gray;
    border-radius: 7px;
    font-family: 'roboto condensed';
    margin: 1px;
    padding: 1px;
}



/*--------MENU---------*/

nav{
    grid-area: menu;
}
.menuFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-decoration: none;


}

ul {
        list-style-type: none;
        background-color: rgb(241, 238, 238);
        text-decoration: none;

}

ul li {
        background-color: rgb(241, 238, 238);
        color: black;
        margin-left: 70px;
        width: 100%;
        height: 30px;
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-wrap: now wrap;
        display: flex;
        list-style-type: none;
        text-decoration: none;
}

li:hover {
        background-color: rgb(172, 169, 169);
}






main{
    grid-area: productos;
    background-color: #ffc8dd;
    width: 100%;
    
}



/*------------ESPACIO PUBLICITARIO---------*/


aside{
    grid-area: publicidad;
    text-align: center;
}



/*-----------PRODUCTOS------------ */


.productosDestacados {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 20px;
    text-align: center;
    background-color:#ffc8dd;
    color: black;
    border-radius: 5px;
    border-color: white;
    padding: 0%;
    width: 100%;
    
    
    
}
.productos {
    background: white;
    padding: 20px;
    margin: 15px;
    border-style:solid;
    border-radius: 10px;
    border-color: honeydew;
    transition: all 0.5s ;
    animation-name: productos;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    box-shadow: 0px 0px 15px rgb(255, 114, 138);
    
}
.productos:hover{
    transform: scale(1.1);
}
a {
    text-decoration: none;
    color: black;
}

.boton{
    width: 130px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}
.boton:hover{
    background-color: rgb(237, 100, 141);
}

/*---------CONTACTO----------*/


.contactoFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
    font-size: 120%;
}

ol li{
    list-style-type: none;
}

.tituloContacto {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 50px;



}

.pContacto {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    color: rgb(46, 45, 45);
}

.redes {
    margin: 10px;
    padding: 10px;
    background-color: #ffc8dd;
    font-size: 25px;
}

.contactoContacto {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    
}

.direccion {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    flex-direction: column;
    display: flex;
    

}

.listaRedes {
    background-color: #ffc8dd;
    font-size: 20px;
}

.listaContacto {
    background-color: #ffc8dd;
    font-size: 20px;
}

.pDireccion {
    background-color: #ffc8dd;
    font-size: 20px;
}

/*---------NOSOTROS-------*/

.tituloNosotros {
    background-color: #ffc8dd;
    font-size: 50px;
    padding-top: 50px;
    padding-left: 110px;
}

.nosotros {
    display: flex;
    flex-direction: column;
    background-color: #ffc8dd;
    justify-content: space-between;
    padding: 5%;
    font-size: 130%;
    margin: 5%;
}
.pNosotros {
    font-size: 20px;
    border-radius: 10px;
}
.articleNosotros {
    width: 400px;
    height: 80vh;
}

/*----------REGISTRATE------*/

.mainRegistrate{
    background-color: white;

}

.tituloRegistrate {
    font-size: 40px;
    margin-top: 20px;
    margin-left: 40px;
}
fieldset {
    display: inline;
    justify-content: center;
    background-color: #ffc8dd;
    margin-left: 40%;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 40%;
    transition: all 0.2s;

}
fieldset:hover{
    box-shadow:0px 0px 20px grey;
}

.formNombre {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.formApellido {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;

}

.formDireccion {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.formTelefono {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.formEmail {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.formPassword {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.formPassword2 {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 5px;
}

.formEnviar {
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 40px;
    margin-bottom: 15px;
    background-color: #ff4287;
    width: 120px;
}


/*-------FOOTER---------*/

footer {
    grid-area: footer;
    background-color: #CDB4DB;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px;
    

}

.contactanos {
    background-color: #CDB4DB;

}

span {
    background-color: #cdb4db;
    font-size: 20px;
    padding: 5px;
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 5px;


}





/*------MEDIA QUERIES----------*/


/*........TABLET..........*/

@media (min-width: 481px) and (max-width: 1023px) {
    
    .gridAreas {
        display: grid;
        grid-template-areas:
        "header header"
        "menu menu"
        "productos publicidad"
        "footer footer"
        
        ;
        grid-template-rows: 2fr 1fr 2fr 2fr;
        grid-template-columns: 3fr 1fr;
        grid-row-gap: 0;
        
    }
    body {
        height: 100vh;
        overflow-x: hidden;
        
    }

    nav {
        grid-area: menu;
        width: 100%;
        
        
        
    }

    
    main{
        width: 100%;
    }
    .menuFlex {
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        justify-content:space-around;
        text-decoration: none;
        width: 100%;
        font-size: 15px;


    }

    ul {
        list-style-type: none;
        background-color: rgb(241, 238, 238);
        text-decoration: none;
        height: 20vh;
        display: flex;
        flex-direction: row;
        

    }

    ul li {
        background-color: rgb(255, 250, 250);
        color: black;
        height: 10vh;
        text-align: center;
        display: flex;
        list-style-type: none;
        text-decoration: none;
        border-radius: 7px;
        border-style: solid;
        border-color: pink;
        font-size: 20px;
        margin:0%;
        padding: 1%;
    }

    li:hover {
        background-color: rgb(172, 169, 169);
    }



    .productosDestacados {

        display:flex;
        flex-wrap:wrap;
        justify-content:space-around;
        font-size: 15px;
        text-align: center;
        background-color: #ffc8dd;
        color: black;
        border-radius: 5px;
        border-color: white;



    }
    
    .productos {
        background: white;
        padding: 15px;
        margin: 10px;
        border-style: solid;
        border-radius: 10px;
        border-color: honeydew;
        
        

    }


    .menuFooter{
        display: flex;
        flex-direction: column;
        
    }

    footer {
        font-size: 15px;
        grid-area: footer;
        background-color: #CDB4DB;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px;
        flex-direction:row;
        align-items: center;
        width: 100%;

    }
    span a{
        display: flex;
        flex-direction:row;
        
    }

    .nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 15px;
        height: 150vh;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
}

@media (width: 720px){
    .gridAreas {
        display: grid;
        grid-template-areas:
            "header header"
            "menu menu"
            "productos publicidad"
            "footer footer"

        ;
        grid-template-rows: 2fr 1fr 2fr 2fr;
        grid-template-columns: 3fr 1fr;
        grid-row-gap: 0;

    }

    body {
        height: 100vh;
        overflow-x: hidden;

    }

    nav {
        grid-area: menu;
        width: 100%;

    }


    main {
        width: 100%;
    }

    .menuFlex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        text-decoration: none;
        width: 100%;
        font-size: 15px;


    }

    ul {
        list-style-type: none;
        background-color: rgb(241, 238, 238);
        text-decoration: none;
        height: 20vh;
        display: flex;
        flex-direction: row;


    }

    ul li {
        
        height: 10vh;
        display: flex;
        border-radius: 7px;
        border-style: solid;
        font-size: 20px;
        margin: 0%;
        padding: 1%;
    }

    li:hover {
        background-color: rgb(172, 169, 169);
    }



    .productosDestacados {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 15px;
        text-align: center;
        background-color: #ffc8dd;
        color: black;
        border-radius: 5px;
        border-color: white;



    }

    .productos {
        background: white;
        padding: 15px;
        margin: 10px;
        border-style: solid;
        border-radius: 10px;
        border-color: honeydew;



    }


    .menuFooter {
        display: flex;
        flex-direction: column;

    }

    footer {
        font-size: 15px;
        grid-area: footer;
        background-color: #CDB4DB;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px;
        flex-direction: row;
        align-items: center;
        width: 100%;

    }

    span a {
        display: flex;
        flex-direction: row;

    }

    .nosotros {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 15px;
        height: 150vh;
        width: 100%;
        margin: 0%;
        padding: 0%;
    }
    

}


/*.........SMARTPHONE..........*/

@media (max-width:480px){
    body{
        height: 100vh;
        width: 100%;
    }
    .gridAreas {
        display: grid;
        grid-template-areas:
        "header"
        "menu"
        "publicidad"
        "productos"
        "footer";
        grid-template-rows: 1fr 1fr 2fr 1fr;
        grid-template-columns: 100%;
        

    }
    main{
        width: 100%;
    }
    .menuFlex {
        display: flex;
        flex-direction: column;
        margin: 2%;
        text-decoration: none;
        


    }

    ul li {
        background-color: rgb(255, 250, 250);
        text-align: center;
        display: flex;
        list-style-type: none;
        text-decoration: none;
        font-size: 20px;
        margin: 0%;

    }

    li a{
        text-align: center;
        background-color:white;
        border-radius: 5px;
        border-style:ridge;
        border-color: pink;
        display: flex;
        flex-direction: column;
        background-color: pink;
        padding: 3px;

        

    }

    .botonBuscar {
    display: none;
    }

    .barraBusqueda {
        background-color: #bde0fe;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;


    }

    .logo{
        padding: 5%;
        padding-left: 33%;
    }
    .productosDestacados {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 15px;
        text-align: center;
        background-color: #ffc8dd;
        color: black;
        border-radius: 5px;
        border-color: white;
        


    }
    

    h1{
        font-size: 30px;
        text-align: center;
    }
    footer {
        grid-area: footer;
        background-color: #CDB4DB;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px;
        flex-direction:column;
        align-items: center;

    }

    .contactanos {
        background-color: #CDB4DB;

    }
    .contacto{
        display: flex;
        flex-direction:column;
    }

    span {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        text-align: center;
        

    }

    .menuFooter{
        display: flex;
        flex-direction: column;
        
        
    }
    .logoFooter{
        display: flex;
        flex-direction:column;
        padding: 5%;

        
        
    }
    span a{
        text-align: center;
    }
    
    aside{
        width: 100%;
        height: 15vh;
    }

    .contactoFlex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 15px;
        width: 100%;
        
        
        
    }

    ol li {
        list-style-type: none;
    }
    
    .contactoContacto{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        font-size: 15px;
    }
    
    .direccion{
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .nosotros{
        display: flex;
        flex-direction: column;
        font-size: 15px;
        padding: 5%;
        height: 140vh;
    }

    .mainRegistrate {
        
        padding-right: 70%;
    
        
    }
    .tituloRegistrate {
        font-size: 30px;
        margin-top: 20px;
        margin-left: 40px;
    }
    fieldset {
        margin-left: 30%;
        border-radius: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    

}