.botonBuscador, .btnConfirmar, .botonComprar, .botonReg {
  background-color: white;
  text-align: center;
  color: black;
  border: 1px solid #acabab;
}
.botonBuscador:hover, .btnConfirmar:hover, .botonComprar:hover, .botonReg:hover {
  filter: opacity(90%);
}

.botonComprar {
  background-color: #bebebe;
  color: white;
  font-weight: bold;
}

.botonReg {
  background-color: #ac1a1a;
  color: white;
}

.btnComprame {
  padding-left: 18%;
}

.btnConfirmar, .botonComprar {
  background-color: #2c2c2c;
  color: white;
}
.btnConfirmar:hover, .botonComprar:hover {
  color: #ffff;
  background-color: #030303;
}

.fuenteChica {
  font-size: 1rem;
  font-weight: 100;
}

.fuenteIntermedia {
  font-size: 1.5rem;
  font-weight: 350;
}

.fuenteMediana {
  font-size: 2rem;
  font-weight: 500;
}

.fuenteGrande {
  font-size: 3rem;
  font-weight: 700;
}

.registrate {
  font-weight: bold;
}

.botonFacebook {
  color: blue;
}

.botonInstagram {
  color: #791079;
}

.botonTwitter {
  color: #17e9f8;
}

.botonCarrito {
  color: white;
}

.botonLike {
  color: white;
}

.btnCarritoCard {
  color: black;
}

.btnLikeCard {
  color: black;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.mainContacto {
  background-color: #f89b9e;
  background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
}

.tuCarrito {
  background-color: #f89b9e;
  background-image: linear-gradient(315deg, #f89b9e 0%, #c9d9ff 74%);
}

.gradienteContacto {
  background-color: #e96196;
  background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
}

.barraLogo {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ff6a8a;
}
.menu .hoverMenu:hover {
  background-color: #f8506f;
  border-radius: 5%;
}

.busqueda {
  width: 70%;
  padding-right: 30%;
  margin: 0;
}

.barra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.botonBuscar {
  background-color: #fff;
  color: black;
}
.botonBuscar:hover {
  background-color: #e2d5d5;
  color: black;
}

.logo {
  margin-left: 250%;
}

.footerFooter {
  background-color: #ff6a8a;
  color: black;
  margin: 0px;
  width: 100%;
  margin-right: 0;
}

li {
  list-style-type: none;
  color: #fff;
}
li a {
  list-style-type: none;
  color: #fff;
  text-decoration: none;
}

footer {
  margin: 0;
  width: 100%;
}

.formulario {
  background-color: pink;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #533030;
}
.formulario .itemFormulario {
  margin-left: 40px;
}

@media (max-width: 576px) {
  .carouselEstilo {
    display: none;
  }

  .botonBuscar {
    display: none;
  }

  .logo {
    display: flex;
    align-items: flex-start;
    margin-left: 30%;
  }

  .footerSmart {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .formularioSmart {
    width: 95%;
  }

  .categoriasCir {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .botonBuscar {
    display: none;
  }

  .logo {
    display: flex;
    align-items: flex-start;
    margin-left: 30%;
  }

  .formularioSmart {
    width: 95%;
  }
}
.gradienteContacto {
  background-color: #e96196;
  background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
}

.gradienteNosotros {
  background-color: #f6ecc4;
  background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
}

.productos {
  margin: 5%;
}

.borderBox {
  box-shadow: 0px 0px 15px #533030;
}

.escala {
  transition: all 0.5s;
  animation-name: escala;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  box-shadow: 0px 0px 15px #240f13;
}
.escala:hover {
  transform: scale(1.1);
}

.categorias {
  color: #fff;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
}

.claseCard {
  width: 100%;
}

.tituloProductos {
  display: flex;
  background-color: pink;
  justify-content: center;
}

.iconosPosicion {
  margin-left: 70%;
}

/*# sourceMappingURL=styles.css.map */
