.botonBuscador, .btnConfirmar, .btnRegistro, .botonComprar, .botonReg {
  background-color: #ffff;
  text-align: center;
  color: black;
  border: 1px solid #acabab;
}
.botonBuscador:hover, .btnConfirmar:hover, .btnRegistro:hover, .botonComprar:hover, .botonReg:hover {
  filter: opacity(90%);
}

.botonComprar {
  background-color: #bebebe;
  color: white;
  font-weight: bold;
}

.botonReg {
  background-color: #ac1a1a;
  color: #fff;
}

.btnComprame {
  padding-left: 18%;
}

.btnConfirmar, .btnRegistro, .botonComprar {
  background-color: #2c2c2c;
  color: white;
}
.btnConfirmar:hover, .btnRegistro:hover, .botonComprar:hover {
  color: #ffff;
  background-color: #030303;
}

.categorias {
  color: #fff;
  text-decoration: none;
  text-transform: none;
  list-style-type: none;
}

.gradienteHeader {
  background: #ff5ea9;
  background: linear-gradient(90deg, #ff5ea9 0%, #00ceff 50%, #d7ff74 100%);
}

.total {
  background-color: #ffee59;
}

.mainContacto, .tuCarrito, .mainNosotros {
  background-color: #ffefcc;
}

.footerFooter {
  background-color: #ffb1c9;
  color: black;
  margin: 0px;
  width: 100%;
  margin-right: 0;
}

li {
  list-style-type: none;
  color: black;
}
li a {
  list-style-type: none;
  color: black;
  text-decoration: none;
}

footer {
  margin: 0;
  width: 100%;
}

.fuenteChica {
  font-size: 1rem;
  font-weight: 100;
}

.fuenteIntermedia {
  font-size: 1.5rem;
  font-weight: 350;
}

.fuenteMediana {
  font-size: 2rem;
  font-weight: 500;
}

.fuenteGrande {
  font-size: 3rem;
  font-weight: 700;
}

.registrate {
  font-weight: bold;
}

.textoHogar {
  margin-left: 1.7rem;
}

.textoCocina {
  margin-left: 1.4rem;
}

.tituloProductos {
  display: flex;
  background-color: #ffb1c9;
  justify-content: center;
}

.textoContacto {
  font-weight: bold;
}

.productos {
  margin: 5%;
}

.barraLogo {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #ffb1c9;
  font-weight: bold;
}
.menu .hoverMenu:hover {
  background-color: #ff6d99;
  border-radius: 5%;
}

.busqueda {
  width: 70%;
  padding-right: 30%;
  margin: 0;
}

.barra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.botonBuscar {
  background-color: #fff;
  color: black;
  border: 1px #747474;
  border-radius: 7px;
}
.botonBuscar:hover {
  background-color: #e2d5d5;
  color: black;
}

.logo {
  margin-left: 100%;
}

.barraBarra {
  border: 1px #747474;
  border-radius: 7px;
}

.botonFacebook {
  color: blue;
}

.botonInstagram {
  color: #791079;
}

.botonTwitter {
  color: #17e9f8;
}

.botonCarrito {
  color: black;
}

.btnCarritoCard {
  color: black;
}

@media (max-width: 576px) {
  .botonBuscar {
    display: none;
  }

  .logo {
    margin: 0%;
    margin-left: 140%;
  }

  .footerSmart {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .formularioSmart {
    width: 95%;
  }

  .categoriasCir {
    display: none;
  }

  .busqueda {
    width: 90%;
    padding: 1%;
    margin: 2%;
    padding-left: 13%;
  }

  .productos {
    width: 100%;
  }
}
@media (min-width: 577px) and (max-width: 991px) {
  .botonBuscar {
    display: none;
  }

  .logo {
    display: flex;
    align-items: flex-start;
    margin-left: 30%;
  }

  .formularioSmart {
    width: 95%;
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

.formulario {
  background-color: #A2D2FF;
  border-radius: 10px;
  box-shadow: 0px 0px 15px #533030;
}
.formulario .itemFormulario {
  margin-left: 40px;
}

.borderBox {
  box-shadow: 0px 0px 15px #533030;
}

.escala {
  transition: all 0.5s;
  animation-name: escala;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  box-shadow: 0px 0px 15px #240f13;
}
.escala:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=styles.css.map */
