.botonBuscador{
    background-color: white;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(172, 171, 171);

    

    &:hover{
        
        filter:opacity(90%);
    }
}

.botonComprar {
    @extend .btnConfirmar;
    background-color: rgb(190, 190, 190);
    color: rgb(255, 255, 255);
    font-weight: bold;
    
    
}

.botonReg{
    @extend .botonBuscador;
    background-color: rgb(172, 26, 26);
    color: white;
    
    
}

.btnComprame{
    padding-left: 18%;
}

.btnConfirmar{
    @extend .botonBuscador;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 255, 255);

    &:hover{
        color:#ffff;
        background-color: rgb(3, 3, 3);
    }
}