
$bordo:#791127;
$blanco:#fff;
$rosa:pink;
$rosafuerte:#f8506f;
$sombraformulario:rgb(83, 48, 48);
$gris:rgb(226, 213, 213);
$gradiente:linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);
$rosaclaro: #ffffff;
$rosaoscuro: #FFAFCC;
$celestewish:#00b8f0;
$celesteclaro:#DBE0FE;
$celesteoscuro:#A2D2FF;
$lila:#CDB4DB;
$violetaoscuro: #ff6a8a;
