@mixin fuentes ($medida , $grosor) {
    font-size: $medida;
    font-weight: $grosor;
}

.fuenteChica{
    @include fuentes (1rem, 100);
}

.fuenteIntermedia{
    @include fuentes (1.5rem, 350 )
}

.fuenteMediana{
    @include fuentes (2rem, 500);
}

.fuenteGrande{
    @include fuentes (3rem, 700);
}


.registrate {
    font-weight: bold;
}