@mixin fuentes ($medida , $grosor) {
    font-size: $medida;
    font-weight: $grosor;
}

.fuenteChica{
    @include fuentes (1rem, 100);
}

.fuenteIntermedia{
    @include fuentes (1.5rem, 350 )
}

.fuenteMediana{
    @include fuentes (2rem, 500);
}

.fuenteGrande{
    @include fuentes (3rem, 700);
}


.registrate {
    font-weight: bold;
}

.tituloProductos {
    display: flex;
    background-color: $rosita;

    justify-content: center;
}

.textoContacto{
    font-weight: bold;
    
}

a{
    text-decoration: none;
    color:$negro;
}
.textoHogar {
    margin-left: 1.7rem;



}

.textoCocina{
    margin-left: 1.4rem;

}

