$iconos : (
    facebook:blue,
    instagram: rgb(121, 16, 121),
    twitter: rgb(23, 233, 248),
    carrito: rgb(0, 0, 0),
    like: rgb(0, 0, 0),
    carritocard: rgb(0,0,0),
    likecard: rgb(0,0,0),

);



.botonFacebook{
    color: map-get($map: $iconos, $key: facebook );
    
}

.botonInstagram{
    color: map-get($map: $iconos, $key: instagram );
}

.botonTwitter {
    color: map-get($map: $iconos, $key: twitter);
    
    
}

.botonCarrito{
    color : map-get($map: $iconos, $key: carrito );
    

}

.botonLike{
    color: map-get($map: $iconos, $key: like );
    
}

.btnCarritoCard{
    color: map-get($map: $iconos, $key: carritocard );
}

.btnLikeCard{
    color: map-get($map: $iconos, $key: likecard);
}

.iconosPosicion {
    margin-left: 70%;

}