@import "botones";
@import "colores";
@import "fuentes";
@import "iconos";
@import "imagenes";
@import "reset";





* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto',
        sans-serif;
    font-family: 'Roboto Condensed',
        sans-serif;


}

.barraLogo {
    display: flex;
    flex-direction: row;
    background-color: $bordo;
    padding: 0;
    margin: 0;


}

.menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: $bordo;
    & .hoverMenu:hover {
        background-color: $rosafuerte;
        border-radius: 5%;


    }


}

.busqueda {
    width: 70%;
    padding-right: 30%;
    margin: 0;
}

.barra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.botonBuscar {
    background-color: $blanco;
    color: black;
    &:hover{
        background-color: $gris;
    color: black;
    }

}


.logo {
    margin-left: 280%;
    border-radius: 10px;
    height: 7vh;
}

.footerFooter {
    background-color: $bordo;
    color: black;
    margin: 0px;
    width: 100%;
    margin-right: 0;
}

li {
    list-style-type: none;
    color: $blanco;
        a {
            list-style-type: none;
            color: $blanco;
            text-decoration: none;
        }

}


footer {
    margin: 0;
    width: 100%;
}

.formulario {
    background-color: $rosa;
    border-radius: 10px;
    box-shadow: 0px 0px 15px $sombraformulario;
        .itemFormulario {
            margin-left: 40px;


        }

}


@media (max-width: 576px) {
    .carouselEstilo {
        display: none;
    }

    .botonBuscar {
        display: none;
    }

    .logo {
        display: flex;
        align-items: flex-start;
        margin-left: 30%;
    }

    .footerSmart {
        display: flex;
        flex-direction: column;
        justify-items: center;

    }

    .formularioSmart {
        width: 95%;

    }

}

@media (min-width: 577px) and (max-width: 991px) {
    .botonBuscar {
        display: none;
    }

    .logo {
        display: flex;
        align-items: flex-start;
        margin-left: 30%;
    }

    .formularioSmart {
        width: 95%;

    }
}



.gradienteContacto {
    background-color: #e96196;
    background-image: $gradiente

}

.gradienteNosotros {
    background-color: #f6ecc4;
    background-image: $gradiente;
}

.productos {
    margin: 5%;

}

.borderBox {
    box-shadow: 0px 0px 15px $sombraformulario;
}


.escala {
    transition: all 0.5s;
    animation-name: escala;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    box-shadow: 0px 0px 15px rgb(36, 15, 19);
    &:hover{
        transform: scale(1.1);
    }
}


.categorias {
    color: $blanco;
    text-decoration: none;
    text-transform: none;
    list-style-type: none;

}

.registrate {
    font-weight: bold;
}

.claseCard{
    width: 100%;
}

.tituloProductos{
    display: flex;
    background-color: pink;
    
    justify-content: center;
}

.mainContacto{
    background-color: #e96196;
    background-image: linear-gradient(315deg, #f6ecc4 0%, #f7d4d4 74%);

}